<div class="row">
  <div class="col-md-6">
    <h2>Profile</h2>
  </div>
  <div class="col-md-12">
    <blockquote>
      <p>
      Before you continue, please make validate your profile information.<br />
      Your time will begin after validating the user information
      </p>
      </blockquote>
  </div>
  <div class="col-md-12">
    <form novalidate class="form-horizontal col-md-offset-2" data-ng-submit="validateAndStart(user)" name="profileForm">
      <div class="form-group" data-ng-class="{ 'has-error': profileForm.name.$invalid }">
        <label for="name" class="col-sm-2 control-label">Fullname *</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" data-ng-disabled="isAlreadyStarted(user)" name="name" id="name" required data-ng-model="user.name" placeholder="Your name">
        </div>
      </div>
      <div class="form-group" data-ng-class="{ 'has-error': profileForm.email.$invalid }">
        <label for="email" class="col-sm-2 control-label">Email *</label>
        <div class="col-sm-6">
          <input type="email" class="form-control" data-ng-disabled="isAlreadyStarted(user)" id="email" name="email" required data-ng-model="user.email" placeholder="Your email">
        </div>
      </div>
      <div class="form-group">
        <label for="country" class="col-sm-2 control-label">Country</label>
        <div class="col-sm-6">
          <input type="country" class="form-control" data-ng-disabled="isAlreadyStarted(user)" id="country" name="country" data-ng-model="user.address.country" placeholder="Name yerrr country!">
        </div>
      </div>
      <div class="form-group">
        <label for="city" class="col-sm-2 control-label">City</label>
        <div class="col-sm-6">
          <input type="city" class="form-control" data-ng-disabled="isAlreadyStarted(user)" id="city" name="city" data-ng-model="user.address.city" placeholder="In what city do you live?">
        </div>
      </div>
      <div class="form-group">
        <label for="timezone" class="col-sm-2 control-label">Timezone</label>
        <div class="col-sm-6">
          <input type="timezone" class="form-control" data-ng-disabled="isAlreadyStarted(user)" id="timezone" name="timezone" data-ng-model="user.address.timezone" placeholder="Whats your timezone?">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6" data-ng-switch="isAlreadyStarted(user)">
          <button data-ng-switch-when="false" type="submit" data-ng-disabled="profileForm.$invalid" class="btn btn-success pull-right">Verify and start <i class="fa fa-arrow-right"></i></button>
          <a data-ng-switch-default class="btn btn-success pull-right" data-ng-disabled="!isAlreadyStarted(user)" data-ui-sref="question">Fill the test <i class="fa fa-arrow-right"></i></a>
        </div>
      </div>
    </form>
  </div>
</div>
