@import 'compass/css3';
@import '../vendor/fontawesome/scss/font-awesome';
@import '../vendor/sass-bootstrap/lib/bootstrap';

$border-radius-large: 4px;
$background-color: #f5f5f5;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html{
  height: 100%;
}

body{
  min-height: 100%;
  position: relative;
  padding-top: 20px;
}

@import 'directive/small-profile/small-profile';
@import 'directive/breadcrumb/breadcrumb';
@import 'directive/running-timer/running-timer';

@import 'view/question/question';
@import 'view/admin/admin';
@import 'view/login/login';
@import 'view/result/result';
