<section id="admin">
  <h1>Finished users:</h1>

  <div class="btn-group modify-nav">
    <button type="button" data-ng-click="$showOrder = !$showOrder" class="btn btn-default">Order
      <i data-ng-if="!$showOrder" class="fa fa-angle-double-right"></i>
      <i data-ng-if="$showOrder" class="fa fa-angle-double-down"></i>
    </button>
    <button type="button" data-ng-click="$showFilter = !$showFilter" class="btn btn-default">Filter
      <i data-ng-if="!$showFilter" class="fa fa-angle-double-right"></i>
      <i data-ng-if="$showFilter" class="fa fa-angle-double-down"></i>
    </button>
  </div>

  <section id="modify-data">
    <div class="modify-container"
         data-order-control="orderExpression"
         data-ng-if="$showOrder"
         data-keys="getSortKeys()">
    </div>
  </section>

  <ul class="list-group">
    <li class="list-group-item user"
        data-ng-repeat="user in users | filter:hasId | filter:isShown | orderBy:orderExpression">
        <div admin-row-large="user"></div>
    </li>
  </ul>

  <h3>Hidden users
    <button data-ng-click="$showHidden = !$showHidden" class="btn btn-link">
      <i data-ng-if="!$showHidden" class="fa fa-angle-double-right"></i>
      <i data-ng-if="$showHidden" class="fa fa-angle-double-down"></i>
    </button>
  </h3>
  <ul class="list-group" data-ng-if="$showHidden">
    <li class="list-group-item user"
        data-ng-repeat="user in users | filter:hasId | filter:isHidden | orderBy:orderExpression">
        <div admin-row-large="user"></div>
    </li>
  </ul>
</section>
