<section id="admin">
  <h1>Finished users:</h1>
  <ul class="list-group">
    <li class="list-group-item user"
        data-ng-repeat="user in users">

      <img data-ng-src="{{ user.avatar }}"
           alt="{{ user.avatar }}"
           class="avatar"/>

      <section class="score">
        <h1>{{ calculateResult(user.questions) }}%</h1>
      </section>

      <ul class="description">
        <li class="name">
          <h2>
            <a target="_blank"
               data-ng-href="{{user.url}}">{{ user.name }}</a>
          </h2>
        </li>
        <li> {{ user.email }} </li>
        <li>
          <button class="btn btn-default"
                  data-ng-click="user.$showMore = !user.$showMore"
                  data-ng-switch="user.$showMore">
                    <span data-ng-switch-when="true">Hide details</span>
                    <span data-ng-switch-default>Show details</span>
          </button>
        </li>
      </ul>

      <section data-ng-if="user.$showMore">
        <h2>details for {{ user.name }}</h2>
        <ul>
          <li class="question" data-ng-repeat="question in user.questions | orderBy:'answers.length':true">
            <button data-ng-click="question.$showMore = !question.$showMore"
                    data-ng-disabled="!question.answers.length"
                    class="btn btn-link show-more">
              <span class="name"> {{ question.name }} </span>
            </button>
            <span class="answers" data-ng-if="question.answers.length">( {{ question.answers.length }} )</span>

            <section data-ng-if="question.$showMore">
              <ul class="answers-list">
                <li data-ng-repeat="answer in question.answers">
                  <button class="btn"
                          data-ng-click="answer.$showMore = !answer.$showMore"
                          data-ng-class="{ 'btn-success': answer.valid == true
                                          ,'btn-default': answer.valid == null
                                          ,'btn-error'  : answer.valid == false}"> {{ $index }}</button>

                  <section data-ng-if="answer.$showMore">
                    {{ answer.content }}
                  </section>
                </li>
              </ul>
            </section>
          </li>
        </ul>
      </section>
    </li>
  </ul>
</section>
