<ul class="pagination">
  <li  data-ng-class="{ disabled: !hasPrev() }">
    <a href="javascript:void(0)"
       data-ng-click="changePage(0)"> first </a>
  </li>
  <li  data-ng-class="{ disabled: !hasPrev() }">
    <a href="javascript:void(0)"
       data-ng-click="changePage(currentPage() - 1)"> &laquo; </a>
  </li>
  <li data-ng-repeat="_ in range(maxItems) track by $index"
      data-ng-class="{ active: currentPage()==getCalculatedPageNr($index) }">
    <a href="javascript:void(0)"
       data-ng-click="changePage(getCalculatedPageNr($index))">
      {{ getCalculatedPageNr($index) + 1 }}
    </a>
  </li>
  <li data-ng-class="{ disabled: !hasNext() }">
    <a href="javascript:void(0)"
       data-ng-click="changePage(currentPage() + 1)"> &raquo; </a>
  </li>
  <li data-ng-class="{ disabled: !hasNext() }">
    <a href="javascript:void(0)"
       data-ng-click="changePage(totalItems - 1)"> last </a>
  </li>
</ul>
