#admin {

  .avatar {
    $height: 95px;
    float: left;
    height: $height;
    width: $height;
  }

  .modify-nav {
    margin-bottom: 15px;
  }

  .user {
    float: left;
    width: 100%;

    .score {
      position: absolute;
      right: 10px;
      h1 {
        line-height: 1.5;
        margin-bottom: 0;
      }
    }

    ul.description {
      list-style: none;
      margin-left: 70px;

      .name h2 {
        margin: 0;
      }

      button {
        margin-top: 10px;
      }
    }
  }

  .question {
    .show-more {
      padding: 0;
    }

    .answers-list {
      padding:  5px 0 5px;
      width: 100%;
      display: block;
      list-style: none;
      float: left;
      li {
        float: left;
        list-style: none;
      }
    }
  }

  #modify-data {
    margin-bottom: 15px;
    .modify-container {
      @include border-radius(4px, 4px);
      border: 1px solid #dddddd;
      width: 270px;

      .header h1 {
        font-size: 14px;
        margin: 10px;
      }

      .control-group {
        width: 250px;
        margin: 10px;
      }

      .remove-button {
        color: #ff0000;
        font-size: 10px;
      }

      .control-trigger {
        button {
          margin-left: 3px;
          margin-top: 1px;
          @include border-radius(4px, 4px);
        }
      }
    }
  }
}
