#running-timer {
  position: absolute;
  top: 6px;
  right: 0;
  margin: 8px 25px;
  font-weight: bold;

  .separator {
    color: #000;
  }

  .warning {
    color: #FFBF00
  }
  .critical {
    color: red;
  }
}
