#small-profile {
  $width: 145px;

  margin-bottom: $line-height-computed;

  position: absolute;
  float: left;
  top: 0;
  right: -230px;

  .colored {
    border-radius: $border-radius-large;
    background-color: $background-color;
  }

  .admin {
    margin-top: 5px;
    a {
      width: 100%;
    }
  }

  .main {
    $height: 80px;
    height: $height;
    .avatar{
      max-width: $height;
      max-height: $height;
    }

    .data {
      padding-left: 5px;
      float: left;
      width: $width;
      .email,.name {
        display: block;
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}
