<ol class="breadcrumb" id="breadcrumb">
  <li class="step">
  <button
    data-ng-disabled="user"
    data-ng-class="{ current: isActive('login') }"
    data-ng-click="navigate('login')"
    class="btn btn-link">
      <span>Login</span>
    </button>
  </li>
  <li class="step">
    <button
      data-ng-disabled="!user || isFinished(user)"
      data-ng-class="{ current: isActive('profile') }"
      data-ng-click="navigate('profile')"
      class="btn btn-link">
      <span>Profile</span>
    </button>
  </li>
  <li class="step">
    <button
      data-ng-disabled="isFinished(user) || !isStarted(user)"
      data-ng-class="{ current: isActive('question', 'question.id') }"
      data-ng-click="navigate('question')"
      class="btn btn-link">
      <span>Test questions</span>
    </button>
  </li>
  <li class="step">
    <button
      data-ng-disabled="!isFinished(user)"
      data-ng-class="{ current: isActive('result') }"
      data-ng-click="navigate('result')"
      class="btn btn-link">
      <span>Result</span>
    </button>
  </li>
  <li class="time"><div data-running-timer></div></li>
</ol>

