<section id="question">
  <div class="col-md-12">
    <h2>{{ question.name }}</h2>
  </div>

  <div class="form-group col-md-12">
    <div data-ng-form="questionForm" novalidate>
      <section data-question="question" data-answer="answer"></section>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-6" data-ng-switch="!!getNextId()">
      <button
        data-ng-click="submitAnswer(question, answer)"
        class="btn btn-success"
        data-ng-switch-when="true"
        >Proceed</button>
      <button
        data-ng-click="submitAnswer(question, answer)"
        class="btn btn-success"
        data-ng-switch-default
        >Save</button>
    </div>
    <button
      data-ng-click="finish(question, answer)"
      data-ng-if="!getNextId()"
      class="btn btn-warning pull-right btn-finish"
    >Save and finish</button>
  </div>
</section>
