<section id="question">
  <h2>{{ question.name }}</h2>
  <div class="col-md-12">
    <blockquote>
      <p data-ng-bind-html="question.description"></p>
    </blockquote>
  </div>

  <div class="form-group col-md-12">
    <section data-question="question" data-answer="answer"></section>
  </div>

  <div class="form-group">
    <div class="col-sm-6">
      <button
        data-ng-click="submitAnswer(question, answer)"
        class="btn btn-success"
        >Proceed</button>
    </div>
    <button
      data-ng-click="finish(question, answer)"
      data-ng-if="!getNextId()"
      class="btn btn-warning pull-right"
    >Save and finish</button>
  </div>
</section>
